# Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
str_tuple = "Rozina", "Bengal", "Tiger"
str_tuple

('Rozina', 'Bengal', 'Tiger')

In [4]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([8,5,2])

(8, 5, 2)

In [7]:
tup = tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(["foo",[1,2],True])

In [11]:
tup[2]

True

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [17]:
m = (4, None, "foo") + (6, 0) + ("bar",)

In [18]:
m*4

(4,
 None,
 'foo',
 6,
 0,
 'bar',
 4,
 None,
 'foo',
 6,
 0,
 'bar',
 4,
 None,
 'foo',
 6,
 0,
 'bar',
 4,
 None,
 'foo',
 6,
 0,
 'bar')

In [20]:
(" Rozina ") * 5

' Rozina  Rozina  Rozina  Rozina  Rozina '

In [21]:
tup = (4, 5, 6)

In [22]:
a, b, c = tup

In [23]:
a

4

In [24]:
b

5

In [25]:
c

6

In [26]:
tup = 4, 5, (6, 7)

In [27]:
a, b, (c, d) = tup

In [28]:
d

7

In [29]:
a

4

In [41]:
tmp = a

In [42]:
tmp

4

In [43]:
a = b

In [44]:
b

4

In [45]:
b = tmp

In [46]:
b

4

In [47]:
a, b = 1, 2

In [48]:
a

1

In [50]:
b

2

In [51]:
b, a = a, b

In [52]:
a

2

In [53]:
b

1

In [54]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [55]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [57]:
eng = [("Sun","Moon"), ("Black", "white")]
for word , opposite in eng:
    print("Word = {0} <...>opposite = {1}".format(word,opposite))

Word = Sun <...>opposite = Moon
Word = Black <...>opposite = white

In [58]:
values = 1, 2, 3, 4, 5

In [59]:
a, b, *rest = values

In [64]:
a,b

(1, 2)

In [61]:
b

2

In [63]:
rest

[3, 4, 5]

In [68]:
a,b,d, *_ = values

In [69]:
values

(1, 2, 3, 4, 5)

In [70]:
_

[4, 5]

In [71]:
t = (1, 2, 2, 2, 6, 8, 8, 3, 4, 5, 6,7)

In [72]:
t.count(8)

2

# List

In [74]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")

In [75]:
b_list = list(tup)

In [76]:
b_list

['foo', 'bar', 'baz']

In [77]:
b_list[1] = "peekaboo"

In [78]:
b_list

['foo', 'peekaboo', 'baz']

In [79]:
gen = range(10)

In [80]:
gen

range(0, 10)

In [81]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [84]:
b_list.insert(0,"ROZINA")
b_list

['ROZINA', 'foo', 'peekaboo', 'baz', 'dwarf']

In [85]:
b_list.pop(2)

'peekaboo'

In [86]:
b_list

['ROZINA', 'foo', 'baz', 'dwarf']

In [87]:
b_list.append('foo')
b_list

['ROZINA', 'foo', 'baz', 'dwarf', 'foo']

In [88]:
b_list.remove("foo")
b_list

['ROZINA', 'baz', 'dwarf', 'foo']

In [89]:
"dwarf" in b_list

True

In [90]:
"dwarf" not in b_list

False

In [91]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [92]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])

In [93]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [95]:
everything = []
list_of_lists = [[1,2,3],["a","b","c"],["0","1","2"]]
for chunk in list_of_lists:
    everything.extend(chunk)

In [97]:
everything

[1, 2, 3, 'a', 'b', 'c', '0', '1', '2']

In [100]:
everything = []
list_of_lists = [[1,2,3],["a","Rozina","c"],["0","1","2"]]
for chunk in list_of_lists:
    everything = everything + chunk

In [101]:
everything

[1, 2, 3, 'a', 'Rozina', 'c', '0', '1', '2']

In [102]:
a = [7, 2, 5, 1 ,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [103]:
b = ["saw", "small","he","foxes", "six"]

In [104]:
b.sort(key = len)

In [105]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [7]:
import bisect

In [8]:
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [9]:
bisect.bisect(c, 5)

6

In [109]:
c

[1, 2, 2, 2, 3, 4, 7]

In [111]:
bisect.insort(c, 6)

In [112]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [113]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [114]:
seq[3:4] = [6, 3]

In [115]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [116]:
seq[:5]

[7, 2, 3, 6, 3]

In [117]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [119]:
seq[-4:]

[5, 6, 0, 1]

In [120]:
seq[-6:-2]

[6, 3, 5, 6]

In [121]:
seq[::2]

[7, 3, 3, 6, 1]

In [122]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [123]:
string = 'HELLO!'

In [124]:
string[2:4]

'LL'

In [125]:
string[-5:-2]

'ELL'

# Built-in Sequence Functions

In [13]:
i = 0
collection = [22,33,44]
for value in collection:
    i += 1

In [14]:
collection

[22, 33, 44]

In [15]:
value

44

In [16]:
i

3

In [17]:
# enumerate funtion
for i, value in enumerate(collection):
    value *= 2

In [18]:
value

88

In [22]:
some_list = ["roo", 'rain', " sab"]
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'roo': 0, 'rain': 1, ' sab': 2}

In [7]:
# sorted function

print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted(['r', 'o', 'z', 'i', 'n', 'a' ])

[0, 1, 2, 2, 3, 6, 7]

['a', 'i', 'n', 'o', 'r', 'z']

In [14]:
#zip function 
n = ['a','b', 'c', 'd', 'e']
odd = [1,3,5,7,9]
even = [2, 4, 6, 8, 10]

zipped = zip(n, odd, even)

pair =  list(zipped)

In [15]:
pair

[('a', 1, 2), ('b', 3, 4), ('c', 5, 6), ('d', 7, 8), ('e', 9, 10)]

In [17]:
pair[0] = ('r', 3, 9)

In [18]:
pair[0]

('r', 3, 9)

In [19]:
pair

[('r', 3, 9), ('b', 3, 4), ('c', 5, 6), ('d', 7, 8), ('e', 9, 10)]

In [20]:
for i,(o,e) in enumerate(zip(odd, even)):
    print('{0}: {1}, {2}'.format(i, o, e))

0: 1, 2
1: 3, 4
2: 5, 6
3: 7, 8
4: 9, 10

In [21]:
pitchers  = [('Nolan', 'Ryan'), ('Roger', 'Clemens '),
             ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens ', 'Curt')

In [22]:
#reversed function
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

dict

In [23]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : '[1, 2, 3, 4]'}
d1

{'a': 'some value', 'b': '[1, 2, 3, 4]'}

In [27]:
d1[7] = "an integer"
d1['ROZINA'] = "RAZZAK"
print(d1)
print(d1['b'])

{'a': 'some value', 'b': '[1, 2, 3, 4]', 7: 'an integer', 'ROZINA': 'RAZZAK'}
[1, 2, 3, 4]

In [29]:
"a" in d1

True

In [30]:
d1[5] = "some value"
d1

{'a': 'some value',
 'b': '[1, 2, 3, 4]',
 7: 'an integer',
 'ROZINA': 'RAZZAK',
 5: 'some value'}

In [31]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': '[1, 2, 3, 4]',
 7: 'an integer',
 'ROZINA': 'RAZZAK',
 5: 'some value',
 'dummy': 'another value'}

In [32]:
del d1[5]
d1

{'a': 'some value',
 'b': '[1, 2, 3, 4]',
 7: 'an integer',
 'ROZINA': 'RAZZAK',
 'dummy': 'another value'}

In [33]:
ret = d1.pop('dummy')
ret

'another value'

In [34]:
d1

{'a': 'some value', 'b': '[1, 2, 3, 4]', 7: 'an integer', 'ROZINA': 'RAZZAK'}

In [36]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7, 'ROZINA']
['some value', '[1, 2, 3, 4]', 'an integer', 'RAZZAK']

In [37]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'ROZINA': 'RAZZAK', 'c': 12}

In [46]:
key_list = [1, 2, 3, 4, 5]
value_list = ['ROZI', 'ROZA', 'ROSE', 'ROZETTA', 'ROME']
mapping = {}
for key, value in zip (key_list, value_list):
    mapping[key] = value
    
mapping

{1: 'ROZI', 2: 'ROZA', 3: 'ROSE', 4: 'ROZETTA', 5: 'ROME'}

In [48]:
mapping1 = dict(zip(range(5), reversed(range(5))))
mapping1

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [10]:
some_dict = {'a' : 'APPLE', 'b' : 'BALL'}
default_value = 'Not'
key = 'd'
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [11]:
value

'Not'

In [18]:
some_dict = {'a' : 'APPLE', 'b' : 'BALL'}
key = 'a'
default_value = 'Not'
value = some_dict.get(key, default_value)

In [19]:
print(value)

APPLE

In [17]:
some_dict = {'a' : 'APPLE', 'b' : 'BALL'}
key = 'f'
value = some_dict.get(key)
print(value)

None

In [26]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [30]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom', 'apple', 'atom'], 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']})

In [27]:
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [29]:
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

valid dict key types

In [31]:
hash('string')

992408503613131932

In [32]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [35]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [36]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

set

In [37]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [38]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [40]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
print(a.intersection(b))
print(a & b)

{3, 4, 5}
{3, 4, 5}

In [12]:
q = {20, 30, 40, 50}
r = {40, 50, 60, 70}
t = {12, 16, 18, 19}

q.add(30011998)
print(q)

print(t)
t.clear()
print(t)

q.remove(30011998)
print(q)

print(r)
r.pop()
print(r)

print(q.union(r))

print(q.update(r))

{40, 50, 20, 30, 30011998}
{16, 18, 19, 12}
set()
{40, 50, 20, 30}
{40, 50, 60, 70}
{50, 60, 70}
{50, 20, 70, 40, 60, 30}
None

In [13]:
t.intersection(q)

set()

In [15]:
q.intersection_update(r)

In [16]:
print(q)

{50, 60, 70}

In [17]:
q.difference(r)
q

{50, 60, 70}

In [18]:
q.difference_update(r)
q

set()

In [20]:
q.symmetric_difference(r)
q

set()

In [22]:
q.symmetric_difference_update(r)
q

set()

In [26]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

print(a.issubset(b))
print(a.issuperset(b))
print(a.isdisjoint(b))  # no elements in common

False
False
True

In [27]:
c = a.copy()

In [28]:
c |= b

In [29]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
d = a.copy()

In [32]:
d  &= b

In [33]:
d

set()

In [34]:
my_data = [1, 2, 3, 4]

In [35]:
my_set = {tuple(my_data)}

In [36]:
my_set

{(1, 2, 3, 4)}

In [37]:
a_set = {1, 2, 3, 4, 5}

In [38]:
{1, 2, 3}.issubset(a_set)

True

In [40]:
a_set.issuperset({1, 2, 3})

True

In [41]:
{1, 5, 6} == {3, 2, 1}

False

In [42]:
{55, 66, 77} == {77, 66, 55}

True

# List, Set, and Dict Comprehension

In [43]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [45]:
[x.upper() for x in strings if len(x) > 3]

['DOVE', 'PYTHON']

In [46]:
[x.title() for x in strings if len(x) > 1]

['As', 'Bat', 'Car', 'Dove', 'Python']

In [47]:
unique_lengths = {len(x) for x in strings}

In [48]:
unique_lengths

{1, 2, 3, 4, 6}

In [49]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [51]:
loc_mapping = {val : index for index , val in enumerate(strings)}

In [52]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

# Nested list Comprehensions

In [16]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier' , 'Natalia', 'Pilar']]

In [17]:
names_of_interest = []
for names in all_data:
    enough_rs = [name for name in names if name.count('r') >= 1]
    names_of_interest.extend(enough_rs)

In [18]:
names_of_interest

['Mary', 'Maria', 'Javier', 'Pilar']

In [23]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [24]:
names_of_interest

['Steven']

In [26]:
# we can wrap whole operation up in a single nested list comprehenshion

result = [name for names in all_data for name in names
          if name.count('e') >= 2]

result

['Steven']

In [39]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

some_tuples1 = [(1, 2, 3), (30, 1, 2024), (7, 8, 9)]

In [40]:
flattened = [x for tup in some_tuples for x in tup]

In [41]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
flattend1 = []

for tup in some_tuples1:
    for x in tup:
        flattend1.append(x)

In [45]:
flattend1

[1, 2, 3, 30, 1, 2024, 7, 8, 9]

In [46]:
[[x  for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [47]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [49]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [50]:
my_function(3.14, 7, 3.5)

35.49

In [51]:
my_function(10, 20)

45.0

In [52]:
my_function(x=5, y=6, z=7)

77

In [53]:
my_function(y=6, x=5, z=7)

77

# Namespaces, Scope, and Local Functions

In [58]:
def func():
    a = [] # local namespace
    for i in range(5):
        a.append(i)

In [60]:
print(func())

None

In [67]:
a = [] # global namespace
def func():
    for i in range(5):
        a.append(i)

In [72]:
a

In [73]:
a = None

In [74]:
def bind_a_variable():
    global a
    a = []
bind_a_variable

In [75]:
print(a)

None

# Returning Multiple Values

In [83]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [84]:
a, b, c = f()

In [85]:
return_value = f()
return_value

(5, 6, 7)

In [86]:
def f1():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b': b, 'c': c}

In [87]:
return_value1 = f1()

In [88]:
return_value1

{'a': 5, 'b': 6, 'c': 7}

# Functions are Objects

In [89]:
states = ['     Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [90]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [91]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [93]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [94]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [101]:
fruits = ['gr?!#apes  ', 'MAngo', ' @applE', 'Pea ch']

In [102]:
def remove_punctuation(value):
    return re.sub('[@!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_fruits(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [103]:
clean_fruits(fruits,clean_ops)

['Grapes', 'Mango', 'Apple', 'Pea Ch']

In [105]:
for x in map(remove_punctuation, fruits):
    print(x)

grapes
MAngo
 applE
Pea ch

In [106]:
for x in map(remove_punctuation, states):
    print(x)

     Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

# Anonymous (Lambda) Functions

In [107]:
def short_function(x):
    return x * 2

In [108]:
short_function(50)

100

In [109]:
equiv_anon = lambda x: x * 2

In [110]:
equiv_anon

In [111]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [112]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [113]:
strings = ['foo', 'card', 'bar', 'aaaa', 'adab']

In [114]:
strings.sort(key = lambda x: len(set(list(x))))

In [115]:
strings

['aaaa', 'foo', 'bar', 'adab', 'card']

# Currying: Partial Argument Application

In [8]:
def add_numbers(x, y):
    return x + y

In [9]:
add_five = lambda y: add_numbers(5, y)

In [10]:
from functools import partial 
add_five = partial(add_numbers,5)

In [11]:
add_numbers(2,5)

7

# Generators

In [13]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [14]:
for key in some_dict:
    print(key)

a
b
c

In [19]:
dict_iterator = iter(some_dict)

In [20]:
dict_iterator

In [23]:
set(dict_iterator)

set()

In [22]:
list(dict_iterator)

['a', 'b', 'c']

In [35]:
def squares(n=10):
    print('Generating squares from 1 to {0}'. format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [36]:
gen = squares()

In [37]:
gen

In [38]:
for x in gen:
    print(x, end = " ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [40]:
def cube(n = 10):
    print('Generating cubes from 1 to {0}'. format( n ** 3))
    for i in range(1, n + 1):
        yield i ** 3
        
cube_generator = cube()

In [41]:
for i in cube_generator:
    print(i, end = ' ')

Generating cubes from 1 to 1000
1 8 27 64 125 216 343 512 729 1000

# Generator expressions

In [42]:
gen = (x ** 2 for x in range(100))

In [43]:
gen

In [44]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [45]:
sum(x ** 2 for x in range(100))

328350

In [47]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Itertools module

In [55]:
import itertools

In [56]:
first_letter = lambda x: x[0]

In [57]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [63]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [28]:
from itertools import combinations as com

letter = 'ABCDEFG'

x = com(letter, 3)
y = [i for i in x]
y2 = [''.join(i) for i in x]

In [29]:
x

In [30]:
y

[('A', 'B', 'C'),
 ('A', 'B', 'D'),
 ('A', 'B', 'E'),
 ('A', 'B', 'F'),
 ('A', 'B', 'G'),
 ('A', 'C', 'D'),
 ('A', 'C', 'E'),
 ('A', 'C', 'F'),
 ('A', 'C', 'G'),
 ('A', 'D', 'E'),
 ('A', 'D', 'F'),
 ('A', 'D', 'G'),
 ('A', 'E', 'F'),
 ('A', 'E', 'G'),
 ('A', 'F', 'G'),
 ('B', 'C', 'D'),
 ('B', 'C', 'E'),
 ('B', 'C', 'F'),
 ('B', 'C', 'G'),
 ('B', 'D', 'E'),
 ('B', 'D', 'F'),
 ('B', 'D', 'G'),
 ('B', 'E', 'F'),
 ('B', 'E', 'G'),
 ('B', 'F', 'G'),
 ('C', 'D', 'E'),
 ('C', 'D', 'F'),
 ('C', 'D', 'G'),
 ('C', 'E', 'F'),
 ('C', 'E', 'G'),
 ('C', 'F', 'G'),
 ('D', 'E', 'F'),
 ('D', 'E', 'G'),
 ('D', 'F', 'G'),
 ('E', 'F', 'G')]

In [33]:
from itertools import combinations as com

letter = 'ROZINA'

x = com(letter, 3)
y2 = [''.join(i) for i in x]

In [35]:
y2

['ROZ',
 'ROI',
 'RON',
 'ROA',
 'RZI',
 'RZN',
 'RZA',
 'RIN',
 'RIA',
 'RNA',
 'OZI',
 'OZN',
 'OZA',
 'OIN',
 'OIA',
 'ONA',
 'ZIN',
 'ZIA',
 'ZNA',
 'INA']

In [36]:
len(y)

35

In [37]:
len(y2)

20

In [38]:
import itertools

x = itertools.permutations('abc', 2)

print(list(x))

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

In [39]:
import itertools

r = itertools.permutations(range(4), 2)

print(list(r))

[(0, 1), (0, 2), (0, 3), (1, 0), (1, 2), (1, 3), (2, 0), (2, 1), (2, 3), (3, 0), (3, 1), (3, 2)]

In [42]:
import itertools

x = 'aaaabbbccd'

new = list(itertools.groupby(x))

In [43]:
new

[('a', <itertools._grouper at 0x1f4b2a145e0>),
 ('b', <itertools._grouper at 0x1f4b2a16a70>),
 ('c', <itertools._grouper at 0x1f4b2a14e50>),
 ('d', <itertools._grouper at 0x1f4b2a15330>)]

In [44]:
for i in new:
    print(i)

('a', <itertools._grouper object at 0x000001F4B2A145E0>)
('b', <itertools._grouper object at 0x000001F4B2A16A70>)
('c', <itertools._grouper object at 0x000001F4B2A14E50>)
('d', <itertools._grouper object at 0x000001F4B2A15330>)

In [45]:
type(new)

list

In [46]:
type(new[0])

tuple

In [48]:

type(new[0][0])

str

In [49]:
type(new[0][1])

itertools._grouper

In [50]:
x

'aaaabbbccd'

In [52]:
new = itertools.groupby(x)
new = [list(g) for k, g in new ]

In [57]:
new

[['a', 'a', 'a', 'a'], ['b', 'b', 'b'], ['c', 'c'], ['d']]

In [61]:
import itertools

x = 'aaaabbbccd'

new = itertools.groupby(x)

letter_count = {letter[0]: len(list(letter[1])) for letter in new}

In [62]:
letter_count

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [64]:
from itertools import product

for i in product('ab', range(3)):
    print(i)

('a', 0)
('a', 1)
('a', 2)
('b', 0)
('b', 1)
('b', 2)

In [65]:
from itertools import product

for i in  product((0,1), (0,1), (0,1)):
    print(i)

(0, 0, 0)
(0, 0, 1)
(0, 1, 0)
(0, 1, 1)
(1, 0, 0)
(1, 0, 1)
(1, 1, 0)
(1, 1, 1)

In [66]:
from itertools import product

for i in product('A', repeat = 3):
    print(i)

('A', 'A', 'A')

# Errors and Exception Handling

In [1]:
float('1.2345')

1.2345

In [2]:
float('something')

ValueError: could not convert string to float: 'something'

In [3]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [4]:
attempt_float('1.2345')

1.2345

In [5]:
attempt_float('something')

'something'

In [6]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [7]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

In [10]:
%run examples/ipython_bug.py

Exception: File `'examples/ipython_bug.py'` not found.

# Files and the Operating System

In [1]:
path = 'sink.txt'

In [2]:
f = open(path)

In [3]:
for line in f:
    pass

In [4]:
lines = [x.rstrip() for x in open(path)]

In [5]:
lines

['I have something']

In [6]:
f.close()

In [7]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [8]:
f = open(path)

In [9]:
f.read(10)

'I have som'

In [10]:
f2 = open(path, 'rb') #binary mode

In [11]:
f2.read(10)

b'I have som'

In [12]:
f.tell()

10

In [13]:
f2.tell()

10

In [24]:
import sys

In [25]:
sys.getdefaultencoding()

'utf-8'

In [14]:
f.seek(3)

3

In [15]:
f.read(1)

'a'

In [16]:
f.close()

In [17]:
f2.close()

In [29]:
with open('tmp.txt', 'w') as handle:
    handle.writelines('I have something') # handle.writelines(x for x  in open(path) if len(x) > 1)

In [30]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [31]:
lines

['I have something']

# Bytes and Unicode with Files

In [34]:
with open('tmp.txt') as f:
    chars = f.read(10)

In [35]:
chars

'I have som'

In [36]:
with open('tmp.txt', 'rb') as f:
    data = f.read(10)

In [37]:
data

b'I have som'

In [38]:
data.decode('utf8')

'I have som'

In [39]:
data[:4].decode('utf8')

'I ha'

In [40]:
sink_path = 'sink.txt'

In [41]:
with open('tmp.txt') as source:
    with open(sink_path, 'xt', encoding= 'iso-8859-1') as sink:
        sink.write(source.read())

In [42]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

I have som

In [43]:
f = open('tmp.txt')

In [44]:
f.read(5)

'I hav'

In [45]:
f.seek(4)

4

In [46]:
f.read(1)

'v'

In [47]:
f.close()

#                   THE END